<!-- 
Copyright 2023 Djangoist.com 
Distributed publicly under the CC BY-NC-ND 4.0 license
https://creativecommons.org/licenses/by-nc-nd/4.0/
-->

{% load hypercells_tags %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    
    <body>
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modal-label">Modal title</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <dl class="row">
                            <dt class="col-sm-4">Company</dt>
                            <dd id="company" class="col-sm-8"></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">Address</dt>
                            <dd id="address" class="col-sm-8"></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">County</dt>
                            <dd id="county" class="col-sm-8"></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">Phone</dt>
                            <dd id="phone1" class="col-sm-8"></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">Phone (alt)</dt>
                            <dd id="phone2" class="col-sm-8"></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">Email</dt>
                            <dd id="email" class="col-sm-8"></dd>
                        </dl>
                        <dl class="row">
                            <dt class="col-sm-4">Website</dt>
                            <dd id="web" class="col-sm-8"></dd>
                        </dl>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 mx-auto overflow-scroll px-5" style="height: 100vh">
            <h1 class="my-3">Search Results</h1>
            <hr>
            {% hypercells_table context %}
        </div>
        {% hypercells_js "hypercells/" context %}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>
</html>
