{% load hypercells_tags %}

<script>
window.onload = function(event) {
    const HC_URL_PREFIX = '/{{url_prefix}}';
    
    function hc_get_tables() {
        return document.getElementsByClassName('hypercells-table');
    }
    
    function hc_get_uid(element) {
        return element.getAttribute('data-hypercells-uid');
    }
    
    function hc_set_uid(element, uid) {
        element.setAttribute('data-hypercells-uid', uid);
    }
    
    function hc_get_container(table) {
        return table.parentNode;
    }
    
    function hc_generate_td_innerHTML(td_el, field_name, fields, tbody_el, context_class, row_num) {
        {% hypercells_td_js %}
    }
    
    function hc_tr_customization(tr_el, fields, tbody_el, context_class, row_num) {
        {% hypercells_tr_js %}
    }
    
    function hc_split_css_classes(css_classes_string) {
        return css_classes_string.split(' ');
    }
    
    function hc_apply_css_classes(element, type, css_classes) {
        if(type in css_classes) {
            const type_classes = hc_split_css_classes(css_classes[type]);
            for(type_class of type_classes) {
                if(type_class !== '')
                    element.classList.add(type_class);
            }
        }
    }
    
    function hc_replace_page(page_tbody, page, context_class, css_classes) {
        page_tbody.classList.add('hypercells-page-active');
        page_tbody.classList.remove('hypercells-page-inactive');
        let row_array = [];
        for(const row_num in page) {
            const row = page[row_num];
            let tr = document.createElement('tr');
            tr.setAttribute('data-hypercells-row-pk', row.pk);
            tr.classList.add('hypercells-tr');
            hc_apply_css_classes(tr, 'tbody_tr', css_classes);
            for(field_name in row.fields) {
                let td = document.createElement('td');
                td.setAttribute('data-hypercells-column', field_name);
                td.classList.add('hypercells-td');
                hc_apply_css_classes(td, 'tbody_td', css_classes);
                td.innerHTML = hc_generate_td_innerHTML(td, field_name, row.fields, page_tbody, context_class, row_num);
                tr.appendChild(td);
            }
            hc_tr_customization(tr, row.fields, page_tbody, context_class, row_num);
            row_array.push(tr);
        }
        page_tbody.replaceChildren(...row_array);
    }
    
    function hc_create_page(page_num, css_classes={}) {
        let new_page = document.createElement('tbody');
        new_page.setAttribute('data-hypercells-page-num', page_num);
        new_page.classList.add('hypercells-page');
        hc_apply_css_classes(new_page, 'tbody', css_classes);
        
        return new_page;
    }
    
    function hc_replace_page_with_placeholder(existing_tbody, height=null) {
        const computed_height = existing_tbody.offsetHeight;
        existing_tbody.classList.remove('hypercells-page-active');
        existing_tbody.classList.add('hypercells-page-inactive');
        let tr = document.createElement('tr');
        tr.classList.add('hypercells-placeholder-tr');
        let td = document.createElement('td');
        td.classList.add('hypercells-placeholder-td');
        td.setAttribute('colspan', '100%');
        if(height === null)
            td.style.height = computed_height+'px';
        else
            td.style.height = height+'px';
        tr.appendChild(td);
        const loader = document.querySelector('#hypercells-loader-prototype');
        td.appendChild(loader.cloneNode(true));
        existing_tbody.replaceChildren(tr);
    }
    
    function hc_get_page(table, page_num) {
        return table.querySelector('tbody[data-hypercells-page-num="'+page_num+'"]');
    }
    
    function hc_insert_page_at_end(table_el, new_page_el) {
        let last_page_el = table_el.querySelector('.hypercells-page:last-child');
        if(last_page_el === null) {
            table_el.querySelector('.hypercells-thead').after(new_page_el);
        } else {
            last_page_el.after(new_page_el);
        }
    }
    
    function hc_get_view(table, uid, current_page_start, container) {
        const old_current_page_start = parseInt(table.getAttribute('data-hypercells-current-page-start'));
        if(old_current_page_start === current_page_start)
            return;
        
        table.setAttribute('data-hypercells-loading', true);
        fetch(HC_URL_PREFIX+'get/?uid='+uid+'&page='+current_page_start)
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            const {pages, 
                num_pages, 
                page_length, 
                total_pages, 
                loading_edge_pages,
                context_class,
                css_classes,
            } = data;
            
            // for pages outside of the new data, either set placeholders or remove
            if(old_current_page_start !== undefined) {
                if(old_current_page_start < current_page_start) {
                    // set placeholders before the data
                    for(let page_num = old_current_page_start; page_num < current_page_start; page_num++) {
                        const existing_tbody = hc_get_page(table, page_num);
                        hc_replace_page_with_placeholder(existing_tbody);
                    }
                } else {
                    // remove pages after the data
                    for(let page_num = current_page_start+num_pages; page_num < old_current_page_start+num_pages; page_num++) {
                        const existing_tbody = hc_get_page(table, page_num);
                        existing_tbody.remove();
                    }
                }
            }
            
            table.setAttribute('data-hypercells-total-pages', total_pages);
            table.setAttribute('data-hypercells-num-pages', num_pages);
            table.setAttribute('data-hypercells-page-length', page_length);
            table.setAttribute('data-hypercells-current-page-start', current_page_start);
            table.setAttribute('data-hypercells-loading-edge-pages', loading_edge_pages);
            table.setAttribute('data-hypercells-context-class', context_class);
            table.setAttribute('data-hypercells-loading', false);
            for(const page_num in pages) {
                const page = pages[page_num];
                const existing_tbody = hc_get_page(table, page_num);
                if(existing_tbody === null) {
                    let new_page_el = hc_create_page(page_num, css_classes);
                    hc_replace_page(new_page_el, page, context_class, css_classes);
                    hc_insert_page_at_end(table, new_page_el);
                } else {
                    hc_replace_page(existing_tbody, page, context_class, css_classes);
                }
            }
            if(container !== undefined && old_current_page_start > current_page_start) {
                // if the scroll has moved since our current event,
                // the subsequent scroll events were aborted while this
                // request was processing. In this case, make a new scroll 
                // event to capture any changes while the request processed.
                container.dispatchEvent(new CustomEvent('scroll'));
            }
        }).catch(function(error) {
            console.error('Hypercells error:', error);
            table.setAttribute('data-hypercells-loading', false);
        });
    }
    
    function hc_container_scroll_event(event) {
        const container = event.target;
        const table = container.querySelector('.hypercells-table');
        const loading = table.getAttribute('data-hypercells-loading') === 'true';
        
        if(loading) return;
        
        const thead = table.querySelector('thead');
        const uid = table.getAttribute('data-hypercells-uid');
        const num_pages = parseInt(table.getAttribute('data-hypercells-num-pages'));
        const total_pages = parseInt(table.getAttribute('data-hypercells-total-pages'));
        const page_length = parseInt(table.getAttribute('data-hypercells-page-length'));
        const current_page_start = parseInt(table.getAttribute('data-hypercells-current-page-start'));
        const loading_edge_pages = parseInt(table.getAttribute('data-hypercells-loading-edge-pages'));
        
        const scroll = container.scrollTop;
        
        // determine which page the scroll is currently in
        const active_pages = table.querySelectorAll('.hypercells-page');
        let current_page = undefined;
        for(page of active_pages) {
            const top = page.offsetTop - thead.offsetHeight;
            const bottom = page.offsetTop + page.offsetHeight - thead.offsetHeight;
            if(scroll >= top && scroll <= bottom) {
                current_page = page;
                break;
            }
        }
        
        // if we couldn't find the current page for some reason, abort
        if(current_page === undefined) {
            return;
        }
        
        // If we have scrolled past the edge page, load new pages
        const current_page_num = parseInt(current_page.getAttribute('data-hypercells-page-num'));
        if(current_page_num >= current_page_start + num_pages - loading_edge_pages || 
            current_page_num <= current_page_start + loading_edge_pages) {
            let new_page_start = Math.floor(current_page_num - num_pages/2);
            if(new_page_start < 0)
                new_page_start = 0;
            hc_get_view(table, uid, new_page_start, container);
        }
    }
    
    function hc_register_scroll_event(table) {
        const container = hc_get_container(table);
        if(container === undefined) {
            console.warn('Hypercells: Undefined container for ' + table);
            return false;
        }
        hc_set_uid(container, hc_get_uid(table));
        container.onscroll = hc_container_scroll_event;
        return true;
    }
    
    const tables = hc_get_tables();
    for(const table of tables) {
        // Create an initial loader for each table
        let new_page_el = hc_create_page(0);
        hc_replace_page_with_placeholder(new_page_el, 500);
        hc_insert_page_at_end(table, new_page_el);
        
        if(!hc_register_scroll_event(table))
            continue;
        hc_get_view(table,hc_get_uid(table),0);
    }
};
</script>

<div style="display: none;">
    {% hypercells_loader %}
</div>
