{% load hypercells_tags %}

<script>
window.onload = function(event) {
    const HC_URL_PREFIX = '/{{url_prefix}}/';
    
    function hc_get_tables() {
        return document.getElementsByClassName('hypercells-table');
    };
    
    function hc_get_uid(element) {
        return element.getAttribute('data-hypercells-uid');
    };
    
    function hc_set_uid(element, uid) {
        element.setAttribute('data-hypercells-uid', uid);
    };
    
    function hc_get_container(table) {
        return table.parentNode;
    };
    
    function hc_create_page(page, page_num) {
        let new_page = document.createElement('tbody');
        new_page.setAttribute('data-hypercells-page-num', page_num);
        new_page.classList.add('hypercells-page');
        new_page.classList.add('hypercells-page-active');
        for(const row_num in page) {
            const row = page[row_num];
            let tr = document.createElement('tr');
            tr.setAttribute('data-hypercells-row-pk', row.pk);
            tr.classList.add('hypercells-tr');
            for(field_name in row.fields) {
                let td = document.createElement('td');
                td.setAttribute('data-hypercells-column', field_name);
                td.classList.add('hypercells-td');
                td.textContent = row.fields[field_name];
                tr.appendChild(td);
            }
            new_page.appendChild(tr);
        }
        return new_page;
    }
    
    function hc_get_view(table, uid, page) {
        fetch(HC_URL_PREFIX+'get/?uid='+uid+'&page='+page)
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            const {pages, num_pages, page_length} = data;
            table.setAttribute('data-hypercells-num-pages', num_pages);
            table.setAttribute('data-hypercells-page-length', page_length);
            table.setAttribute('data-hypercells-current-page-start', page);
            for(const page_num in pages) {
                const page = pages[page_num];
                let new_page_el = hc_create_page(page, page_num);
                let last_page_el = table.querySelector('.hypercells-page:last-child');
                if(last_page_el == undefined) {
                    table.querySelector('.hypercells-thead').after(new_page_el);
                } else {
                    last_page_el.after(new_page_el);
                }
            }
        });
    };
    
    function hc_container_scroll_event(event) {
        const container = event.target;
        const table = container.querySelector('.hypercells-table');
        const thead = table.querySelector('thead');
        const num_pages = table.getAttribute('data-hypercells-num-pages');
        const page_length = table.getAttribute('data-hypercells-page-length');
        const current_page_start = table.getAttribute('data-hypercells-current-page-start');
        const uid = table.getAttribute('data-hypercells-uid');
        
        const scroll = container.scrollTop;
        
        // determine which page the scroll is currently in
        const active_pages = table.querySelectorAll('.hypercells-page-active');
        const current_page = undefined;
        for(page of active_pages) {
            const top = page.offsetTop - thead.offsetHeight;
            const bottom = page.offsetTop + page.offsetHeight - thead.offsetHeight;
            console.log(scroll, top, bottom);
            if(scroll >= top && scroll <= bottom) {
                console.log(page);
                current_page = page;
                break;
            }
        }
        
        if(current_page == undefined)
            return;
        
        const current_page_num = current_page.getAttribute('data-hypercells-page-num');
        
        //if(container.scrollHeight > offsetTop
        // var rect = element.getBoundingClientRect();
        // console.log(rect.top, rect.right, rect.bottom, rect.left);
    };
    
    function hc_register_scroll_event(table) {
        const container = hc_get_container(table);
        if(container === undefined) {
            console.warn('Hypercells: Undefined container for ' + table);
            return false;
        }
        hc_set_uid(container, hc_get_uid(table));
        container.onscroll = hc_container_scroll_event;
        return true;
    };
    
    const tables = hc_get_tables();
    for(const table of tables) {
        if(!hc_register_scroll_event(table))
            continue;
        hc_get_view(table,hc_get_uid(table),0);
    }
};
</script>

<div style="display: none;">
    <svg id="hypercells-loader-prototype" class="hypercells-loader" width="100%" height="100%" version="1.1" style="border-radius: 20px">
        <defs>
            <linearGradient id="graywave1" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop style="stop-color:#eee;stop-opacity:0.5" offset="0"/>
              <stop style="stop-color:#ccc;stop-opacity:0.5" offset="0.5"/>
              <stop style="stop-color:#eee;stop-opacity:0.5" offset="1.0"/>
            </linearGradient>
            <linearGradient id="graywave2" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop style="stop-color:#ccc;stop-opacity:0.5" offset="0"/>
              <stop style="stop-color:#eee;stop-opacity:0.5" offset="0.5"/>
              <stop style="stop-color:#ccc;stop-opacity:0.5" offset="1.0"/>
            </linearGradient>
        </defs>
        <rect id="loaderrect1" style="fill:url(#graywave1);fill-opacity:1;fill-rule:evenodd;" width="100%" height="100%" x="-200%" y="0"/>
        <rect id="loaderrect2" style="fill:url(#graywave2);fill-opacity:1;fill-rule:evenodd;" width="100%" height="100%" x="-100%" y="0"/>
        <rect id="loaderrect3" style="fill:url(#graywave1);fill-opacity:1;fill-rule:evenodd;" width="100%" height="100%" x="0" y="0"/>
        <animate xlink:href="#loaderrect1" attributename="x" from="-200%" to="0%" dur="0.8s" begin="0s" fill="freeze" repeatcount="indefinite"/>
        <animate xlink:href="#loaderrect2" attributename="x" from="-100%" to="100%" dur="0.8s" begin="0s" fill="freeze"repeatcount="indefinite"/>
        <animate xlink:href="#loaderrect3" attributename="x" from="0%" to="200%" dur="0.8s" begin="0s" fill="freeze"repeatcount="indefinite"/>
    </svg>
</div>
