{% load hypercells_tags %}

<table class="hypercells-table table table-responsive table-hover" data-uid="{{context.uid}}">
    <thead style="position:sticky; top:0; background: white;">
        {% hypercells_thead context %}
    </thead>
    <tbody>
    </tbody>
</table>

{% comment %}
<table class="table table-responsive table-hover hypercells-table">
    {% for row in rows %}
    {% if forloop.first %}
        <thead style="position:sticky; top:0; background: white;">
        {% hypercells_thead context row %}
        </thead>
        <tbody>
    {% endif %}
        {% hypercells_tbody row %}
    {% if forloop.last %}
        </tbody>
    {% endif %}
    {% endfor %}
</table>
{% endcomment %}
