{% load hypercells_tags %}

<script>
window.onload = function(event) {    
    function get_tables() {
        return document.getElementsByClassName("hypercells-table");
    };
    
    function get_uid(element) {
        return element.getAttribute("data-uid");
    };
    
    function get_container(table) {
        return table.parentNode;
    };
    
    function register_scroll_events(tables) {
        for(i in tables) {
            const table = tables[i];
            console.log(table);
            const container = get_container(table);
            if(container === undefined) {
                continue;
            }
            console.log(container);
            container.setAttribute("data-uid", get_uid(table));
            container.onscroll = function() {
                
            };
        }
    };
    
    function initialize_views() {
        const tables = get_tables();
        register_scroll_events(tables);
    }
    
    initialize_views();
}; 
</script>

<div style="display: none;">
    <svg id="hypercells-loader-prototype" class="hypercells-loader" width="100%" height="100%" version="1.1" style="border-radius: 20px">
        <defs>
            <linearGradient id="graywave1" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop style="stop-color:#eee;stop-opacity:0.5" offset="0"/>
              <stop style="stop-color:#ccc;stop-opacity:0.5" offset="0.5"/>
              <stop style="stop-color:#eee;stop-opacity:0.5" offset="1.0"/>
            </linearGradient>
            <linearGradient id="graywave2" x1="0%" y1="0%" x2="100%" y2="100%">
              <stop style="stop-color:#ccc;stop-opacity:0.5" offset="0"/>
              <stop style="stop-color:#eee;stop-opacity:0.5" offset="0.5"/>
              <stop style="stop-color:#ccc;stop-opacity:0.5" offset="1.0"/>
            </linearGradient>
        </defs>
        <rect id="loaderrect1" style="fill:url(#graywave1);fill-opacity:1;fill-rule:evenodd;" width="100%" height="100%" x="-200%" y="0"/>
        <rect id="loaderrect2" style="fill:url(#graywave2);fill-opacity:1;fill-rule:evenodd;" width="100%" height="100%" x="-100%" y="0"/>
        <rect id="loaderrect3" style="fill:url(#graywave1);fill-opacity:1;fill-rule:evenodd;" width="100%" height="100%" x="0" y="0"/>
        <animate xlink:href="#loaderrect1" attributename="x" from="-200%" to="0%" dur="0.8s" begin="0s" fill="freeze" repeatcount="indefinite"/>
        <animate xlink:href="#loaderrect2" attributename="x" from="-100%" to="100%" dur="0.8s" begin="0s" fill="freeze"repeatcount="indefinite"/>
        <animate xlink:href="#loaderrect3" attributename="x" from="0%" to="200%" dur="0.8s" begin="0s" fill="freeze"repeatcount="indefinite"/>
    </svg>
</div>
